

.menuContainer
{
  width: 80%;
  height: 50px;
  background: #e2e2e2;
  margin: auto;
  border-bottom: 2px solid #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.buttonMenu
{
  width: 100px;
  height: 50px;
  margin: 2px;
  font-size: 18px;
  font-family: sans-serif;
  background: #e2e2e2;
  cursor: pointer;
  border: 0;
}

.buttonMenu:hover
{
  background: #cccccc;
}
